<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="password-recovery-container">
    <h2>Password Recovery</h2>
    <form (ngSubmit)="onRecoverPassword(recoverForm)" #recoverForm="ngForm" novalidate>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter You Mail Id"
        [(ngModel)]="email"
        required
        email
        #emailField="ngModel"
      />
      
      <div *ngIf="emailField.invalid && emailField.touched" class="error">
        Please enter a valid email address.
      </div>
  
      <button type="submit">Recover Password</button>
    </form>
  
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  
    <!-- Back to Login button -->
    <button type="button" class="back-button" (click)="navigateToLogin()">Back to Login</button>
  </div>
  